@media (min-width: 0px) and (max-width: 450px) {
  .contenedor-contacto {
    flex-direction: column;
  }
  .mapa {
    padding: 2%;
  }
  iframe {
    width: 370px;
    height: 400px;
  }
  .suculenta-demostracion {
    width: 300px;
    height: 190px;
  }
  .cactus-demostracion {
    width: 300px;
    height: 200px;
  }
  .crasa-demostracion {
    width: 300px;
    height: 400px;
  }
  .navbar-nav.me-auto.mb-2.mb-lg-0 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .div-imagen-presentacion {
    display: flex;
    flex-direction: column;
  }
  .div-imagen-presentacion .imagen-presentacion {
    width: 300;
    height: 350;
  }
}
@media (min-width: 450px) and (max-width: 3000px) {
  .suculenta-demostracion {
    width: 500px;
    height: 300px;
  }
  .cactus-demostracion {
    width: 500px;
    height: 300px;
  }
  .crasa-demostracion {
    width: 400px;
    height: 500px;
  }
  .navbar-nav.me-auto.mb-2.mb-lg-0 {
    width: calc(100vw - 150px);
    display: flex;
    justify-content: center;
  }
  .imagen-presentacion {
    width: 400;
    height: 350;
  }
}
body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "main" "footer";
}

/*---HEADER---*/
header .container-fluid {
  z-index: 2;
  background-color: #86fc58;
}
header .logo {
  width: 75px;
  height: 80px;
}
header .nav-item {
  border-radius: 10px;
  background: rgb(118, 0, 255);
  background: radial-gradient(circle, rgb(118, 0, 255) 0%, rgb(119, 28, 224) 51%, rgb(173, 104, 252) 100%);
  margin-left: 10px;
}
header .nav-item .nav-link.active {
  color: #ffffff;
  font-weight: bold;
}

* {
  font-family: "Nunito Sans", "sans serif";
  padding: 0px;
  margin: 0px;
}

/*---MAIN---*/
.titulo-primario {
  color: #86fc58;
}

.fondo-primario {
  background-color: #86fc58;
}

.titulo-secundario {
  color: #ad68fc;
}

.fondo-secundario {
  background-color: #ad68fc;
}

.titulo-terciario {
  color: #ffffff;
}

.fondo-terciario {
  background-color: #ffffff;
}

.titulo-cuaternario {
  color: #d1ff7a;
}

.fondo-cuaternario {
  background-color: #d1ff7a;
}

.titulo-quinario {
  color: #9400d3;
}

.fondo-quinario {
  background-color: #9400d3;
}

.titulo-hexanario {
  color: #ff00ff;
}

.fondo-hexanario {
  background-color: #ff00ff;
}

.titulo-heptanario {
  color: #045000;
}

.fondo-heptanario {
  background-color: #045000;
}

.titulo-octanario {
  color: #058c00;
}

.fondo-octanario {
  background-color: #058c00;
}

.titulo-nonario {
  color: #7134ff;
}

.fondo-nonario {
  background-color: #7134ff;
}

.titulo-decimal {
  color: #d302d3;
}

.fondo-decimal {
  background-color: #d302d3;
}

.caja-de-texto-1 {
  border-style: double;
  border-color: #9400d3;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-de-texto-1 .parrafo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 5%;
}

.caja-de-texto-2 {
  border-style: double;
  border-color: #009456;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-de-texto-2 .parrafo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 5%;
}

main h4 {
  font-weight: bold;
  text-transform: capitalize;
}
main .titulo-pagina {
  margin: 30px;
}
main .titulo-pagina h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
main h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
  font-weight: 600;
}
main .contenedor-productos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
main .contenedor-productos2 .contenedor-productos {
  display: contents;
}
main .contenedor-productos2 .contenedor-productos .producto {
  background: rgb(206, 255, 136);
  background: linear-gradient(55deg, rgb(206, 255, 136) 0%, rgb(183, 255, 105) 40%, rgb(88, 255, 91) 100%);
  width: 370px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}
main .contenedor-productos2 .contenedor-productos .producto:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
main .contenedor-productos2 .contenedor-productos .producto img {
  width: 330px;
  height: 330px;
  padding-bottom: 10px;
}
main .contenedor-productos2 .contenedor-productos .producto .titulo-decimal {
  width: 100%;
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
}
main .contenedor-productos2 .contenedor-productos .producto .titulo-quinario {
  width: 100%;
  padding-left: 20px;
  font-size: 30px;
  font-weight: bolder;
}
main .botones {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 40px;
}
main .botones li {
  padding: 5px;
  margin: 10px;
}
main .botones li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
main .botones li .titulo-terciario {
  font-weight: bold;
  text-decoration: none;
}

/*exclusivo de pagina index*/
main #carouselExampleIndicators {
  justify-content: center;
}
main #carouselExampleIndicators .d-block {
  width: 100%;
  height: 600px;
  object-fit: cover;
  padding-bottom: 10px;
}
main #titulo-del-sitio {
  margin-top: 50px;
  font-family: "Mogra", "cursive";
  font-style: normal;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}
main .targeta-contacto {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
main .targeta-contacto:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
main .targeta-contacto .fondo-primario {
  width: 400px;
  height: auto;
  padding: 20px;
  margin-bottom: 80px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
main .targeta-contacto .fondo-primario .titulo-terciario.descripcion {
  text-shadow: 1px 1px 1px black;
}
main .targeta-contacto .fondo-primario .titulo-terciario.descripcion2 {
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}

/*-----*/
/*exclusivo pagina "productos"*/
main .contenedor-selector {
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
}
main .contenedor-selector #selector {
  padding: 3px;
  margin-right: 8%;
}

/*-----*/
/*exclusivo pagina "sobre-cactuskawaiis"*/
main .div-imagen-presentacion {
  width: 80%;
  display: flex;
  align-items: center;
}
main .logo-presentacion {
  width: 250px;
  height: 255px;
  margin-bottom: 60px;
  animation-name: desplazamiento;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-delay: 1s;
}
@keyframes desplazamiento {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
main .logo-presentacion img {
  width: 250px;
  height: 245px;
}

/*-----*/
/*exclusivo pagina "contacto"*/
main .contenedor-contacto {
  display: flex;
  justify-content: center;
}
main .contenedor-contacto iframe {
  display: flex;
}
main .contenedor-contacto .pie-de-mapa {
  padding-bottom: 20px;
}
main .contenedor-contacto .contenedor-links {
  padding: 2%;
}
main .contenedor-contacto .contenedor-links .contenedor-links2 {
  display: flex;
}
main .contenedor-contacto .contenedor-links .contenedor-links2 .redes-icono img {
  width: 50;
  height: 50;
}

/*-----*/
/*---FOOTER---*/
footer {
  text-align: center;
  padding: 5px;
}

/*# sourceMappingURL=app.css.map */
