body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 80px auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
}
/*---HEADER---*/  
header{
    .navbar.navbar-expand-lg.bg-body-tertiary{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    .container-fluid{
        background-color: $color-boostrap;       
    }
    .logo{
        width: 75px;
        height: 80px;   
    }
        .nav-item{
            border-radius: 10px;
            background: rgb(118,0,255);
            background: radial-gradient(circle, rgba(118,0,255,1) 0%, rgba(119,28,224,1) 51%, rgba(173,104,252,1) 100%);
            margin-left: 10px;
            .nav-link.active{
                color: $color-boostrap-link;
                font-weight: bold;
            }
        }  
    }    
}

