body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 80px auto 130px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
}

/*---HEADER---*/  
header{
    nav{
        .container-fluid{
            background-color: $color-primario;
        }
         .logo{
            width: 75px;
            height: 80px;   
        }
        .nav-item{
            border-radius: 10px;
            background-color: $color-secundario;
            margin-left: 10px;
        }    
    }
}