$colores:(
    primario: #86fc58,
    secundario: #ad68fc,
    terciario: #ffffff,
    cuaternario: #d1ff7a,
    quinario: #9400d3,
    hexanario: #ff00ff,
    heptanario: #045000,
    octanario: #058c00,
    nonario: #7134ff,
    decimal: #d302d3,
);

