$color-primario: #86fc58;
$color-secundario: #ad68fc;
$color-terciario: #ffffff;
$color-cuaternario: #d1ff7a;
$color-quinario: #9400d3; 
$color-hexanario: #ff00ff;
$color-heptanario: #033a00;
$color-octanario: #058c00;
$color-nonario: #7134ff;
$color-decimal: #ff34aa;