@media (min-width: 0px) and (max-width: 450px){
    .contenedor-contacto{
        flex-direction: column;
    }
    .mapa{
        padding: 5%;
    }
    iframe{
        width: 370px;
        height: 400px;
    }
   
    
}