@media (min-width: 0px) and (max-width: 600px){
    .contenedor-contacto{
        flex-direction: column;
    }
    .mapa{
        padding: 10px;
    }
    iframe{
        width: 500px;
        height: 400px;
    }
    
}