@media (min-width: 0px) and (max-width: 450px){
    .contenedor-contacto{
        flex-direction: column;
    }
    .mapa{
        padding: 2%;
    }
    iframe{
        width: 370px;
        height: 400px;
    }

    .suculenta-demostracion{
        width: 300px;
        height: 190px;
    }
    .cactus-demostracion{
        width: 300px;
        height: 200px;
    }
    .crasa-demostracion{
        width: 300px;
        height: 400px;

    }
    .navbar-nav.me-auto.mb-2.mb-lg-0{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .div-imagen-presentacion{
        display: flex;
        flex-direction: column;
        .imagen-presentacion{
            width: 300;
            height: 350;
            }
    }
}



@media (min-width: 450px) and (max-width: 3000px){
    .suculenta-demostracion{
        width: 500px;
        height: 300px;
    }
    .cactus-demostracion{
        width: 500px;
        height: 300px;
    }
    .crasa-demostracion{
        width: 400px;
        height: 500px;

    }
    .navbar-nav.me-auto.mb-2.mb-lg-0{
        width: calc(100vw - 150px);
        display: flex;
        justify-content: center;
    }
    .imagen-presentacion{
        width: 400;
        height: 350;
        }
}